<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Orders History</title>
</head>
<body class="d-flex flex-column justify-content-between">
    <div class="container-fluid">
        <%- include('navbar'); %>


        <div class="row mt-3">
            <div class="col-12">
              <div class="fs-2 text-white">
                My tickets : 
              </div>
            </div>
        </div>

        <table class="table mt-2 table-borderless table-light" id="table-users">
            <thead>
                <tr>  <!-- -->
                    <th scope="col">Date</th>
                    <th scope="col">Journey</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <!-- display dyna-->
            <tbody>
              <% for (var i = 0 ; i < lastTrips.length ; i++) { %> 
                <tr>
                    <td scope="row"><%= getFormatDate(lastTrips[i].date) %></td>
                    <td><%= lastTrips[i].departure %>/<%= lastTrips[i].arrival %></td>
                    <td><%= lastTrips[i].departureTime %></td>
                    <td><%= lastTrips[i].price %> €</td>
                </tr>
              <% } %>

                <!-- <tr>
                    <th scope="row">02/08/2021</th>
                    <th scope="row">Toulon/Lille</th>
                    <th scope="row">15:00pm</th>
                    <th scope="row">953 euros</th>
                </tr>
                <tr>
                    <th scope="row">02/08/2021</th>
                    <th scope="row">Lyon/Lille</th>
                    <th scope="row">15:00pm</th>
                    <th scope="row">930 euros</th>
                </tr>
                <tr>
                    <th scope="row">02/08/2021</th>
                    <th scope="row">Paris/Lille</th>
                    <th scope="row">15:00pm</th>
                    <th scope="row">193 euros</th>
                </tr> -->
            </tbody>
        </table>
        <a href="/home"><button type="button"class="btn btn-danger" id="btnTrips">Home</button> </a>


        
    </div>
    <%- include('footer'); %> 
    
</body>
</html>